.icon.filetype {background: image-url('montage.png');display: inline-block;}
.icon.filetype._blank {background-position: 0 -0px; height:48px; width:48px}
.icon.filetype._page {background-position: 0 -48px; height:48px; width:48px}
.icon.filetype.aac {background-position: 0 -96px; height:48px; width:48px}
.icon.filetype.ai {background-position: 0 -144px; height:48px; width:48px}
.icon.filetype.aiff {background-position: 0 -192px; height:48px; width:48px}
.icon.filetype.avi {background-position: 0 -240px; height:48px; width:48px}
.icon.filetype.bmp {background-position: 0 -288px; height:48px; width:48px}
.icon.filetype.c {background-position: 0 -336px; height:48px; width:48px}
.icon.filetype.cpp {background-position: 0 -384px; height:48px; width:48px}
.icon.filetype.css {background-position: 0 -432px; height:48px; width:48px}
.icon.filetype.dat {background-position: 0 -480px; height:48px; width:48px}
.icon.filetype.dmg {background-position: 0 -528px; height:48px; width:48px}
.icon.filetype.doc {background-position: 0 -576px; height:48px; width:48px}
.icon.filetype.dotx {background-position: 0 -624px; height:48px; width:48px}
.icon.filetype.dwg {background-position: 0 -672px; height:48px; width:48px}
.icon.filetype.dxf {background-position: 0 -720px; height:48px; width:48px}
.icon.filetype.eps {background-position: 0 -768px; height:48px; width:48px}
.icon.filetype.exe {background-position: 0 -816px; height:48px; width:48px}
.icon.filetype.flv {background-position: 0 -864px; height:48px; width:48px}
.icon.filetype.gif {background-position: 0 -912px; height:48px; width:48px}
.icon.filetype.h {background-position: 0 -960px; height:48px; width:48px}
.icon.filetype.hpp {background-position: 0 -1008px; height:48px; width:48px}
.icon.filetype.html {background-position: 0 -1056px; height:48px; width:48px}
.icon.filetype.ics {background-position: 0 -1104px; height:48px; width:48px}
.icon.filetype.iso {background-position: 0 -1152px; height:48px; width:48px}
.icon.filetype.java {background-position: 0 -1200px; height:48px; width:48px}
.icon.filetype.jpg {background-position: 0 -1248px; height:48px; width:48px}
.icon.filetype.key {background-position: 0 -1296px; height:48px; width:48px}
.icon.filetype.mid {background-position: 0 -1344px; height:48px; width:48px}
.icon.filetype.mp3 {background-position: 0 -1392px; height:48px; width:48px}
.icon.filetype.mp4 {background-position: 0 -1440px; height:48px; width:48px}
.icon.filetype.mpg {background-position: 0 -1488px; height:48px; width:48px}
.icon.filetype.odf {background-position: 0 -1536px; height:48px; width:48px}
.icon.filetype.ods {background-position: 0 -1584px; height:48px; width:48px}
.icon.filetype.odt {background-position: 0 -1632px; height:48px; width:48px}
.icon.filetype.otp {background-position: 0 -1680px; height:48px; width:48px}
.icon.filetype.ots {background-position: 0 -1728px; height:48px; width:48px}
.icon.filetype.ott {background-position: 0 -1776px; height:48px; width:48px}
.icon.filetype.pdf {background-position: 0 -1824px; height:48px; width:48px}
.icon.filetype.php {background-position: 0 -1872px; height:48px; width:48px}
.icon.filetype.png {background-position: 0 -1920px; height:48px; width:48px}
.icon.filetype.ppt {background-position: 0 -1968px; height:48px; width:48px}
.icon.filetype.psd {background-position: 0 -2016px; height:48px; width:48px}
.icon.filetype.py {background-position: 0 -2064px; height:48px; width:48px}
.icon.filetype.qt {background-position: 0 -2112px; height:48px; width:48px}
.icon.filetype.rar {background-position: 0 -2160px; height:48px; width:48px}
.icon.filetype.rb {background-position: 0 -2208px; height:48px; width:48px}
.icon.filetype.rtf {background-position: 0 -2256px; height:48px; width:48px}
.icon.filetype.sql {background-position: 0 -2304px; height:48px; width:48px}
.icon.filetype.tga {background-position: 0 -2352px; height:48px; width:48px}
.icon.filetype.tgz {background-position: 0 -2400px; height:48px; width:48px}
.icon.filetype.tiff {background-position: 0 -2448px; height:48px; width:48px}
.icon.filetype.txt {background-position: 0 -2496px; height:48px; width:48px}
.icon.filetype.wav {background-position: 0 -2544px; height:48px; width:48px}
.icon.filetype.xls {background-position: 0 -2592px; height:48px; width:48px}
.icon.filetype.xlsx {background-position: 0 -2640px; height:48px; width:48px}
.icon.filetype.xml {background-position: 0 -2688px; height:48px; width:48px}
.icon.filetype.yml {background-position: 0 -2736px; height:48px; width:48px}
.icon.filetype.zip {background-position: 0 -2784px; height:48px; width:48px}
